@font-face {
	font-family: 'intersemi_bold';
	src: url('fonts/rasmusandersson-inter-semi-bold-webfont.woff2') format('woff2'), url('fonts/rasmusandersson-inter-semi-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--mainred: #fd4d4d;
	--shadered: #fd6868;
}

input[type='text'],
select {
	width: 100%;
	margin-top: 30px;
	outline: none;
	padding: 12px 20px;
	display: inline-block;
	border: 0px;
	color: white;
	background-color: #1d252e;
	border-radius: 7px;
	box-sizing: border-box;
}

button {
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--shadered);
	border: none;
	outline: none;
}

button:hover {
	background: var(--mainred);
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #0b0e11;
}

#gameBackground {
	border-radius: 10px;
	padding: 10px;
	width: 651px;
	height: 651px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #151a21;
}

#playingAgainst {
	flex-direction: column;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: inter;
	color: white;
}

#surrender {
	margin-bottom: 20px;
	vertical-align: bottom;
	font-size: 15px;
	width: 40%;
	height: 40px;
	font-family: inter;
	color: white;
}

#draw {
	float: right;
	margin-bottom: 20px;
	vertical-align: bottom;
	font-size: 15px;
	width: 40%;
	height: 40px;
	font-family: inter;
	color: white;
}

#depth {
	/* margin-top: 30px; */
	margin-bottom: 20px;
	flex-direction: column;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: inter;
	color: white;
}

#timerBlack {
	vertical-align: top;
	margin-top: 15px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: inter;
	color: white;
}

#timerWhite {
	vertical-align: bottom;
	margin-bottom: 15px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: inter;
	color: white;
}

#timerInc {
	vertical-align: center;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: inter;
	color: var(--shadered);
}

#timerBackground {
	flex-direction: column;
	display: flex;
	width: 300px;
	margin-top: 25px;
	height: 150px;
	border-radius: 10px;
	background: #1d252e;
}

#buttonDiv {
	/* margin-bottom: 10px; */
	flex-direction: row;
	vertical-align: bottom;
}

#gameInfo {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 50px;
	vertical-align: bottom;
	padding: 20px 20px 0px 20px;
	width: 300px;
	height: 651px;
	background: #151a21;
}

.mainDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	margin-bottom: 60px;
	margin-top: 70px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: inter;
	font-weight: bold;
	color: white;
}

.backgroundHidden {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.flexrow {
	flex-direction: row;
	display: flex;
}

.red {
	color: var(--mainred);
}

.top-left {
	border-radius: 10px 0px 0px 0px;
}

.top-right {
	border-radius: 0px 10px 0px 0px;
}

.white {
	background: #313b48;
}

.black {
	background: #212934;
}

.centered {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider {
	-webkit-appearance: none;
	height: 15px;
	width: 300px;
	border-radius: 10px;
	background: #212934;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #313b48;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #313b48;
	cursor: pointer;
}

.settings {
	position: absolute;
	top: 25px;
	right: 25px;
	background-color: transparent;
}

.settings:hover {
	background-color: transparent;
}

.settingsIcon {
	font-size: 30px;
	color: white;
}
