@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700);
body {
	color: white;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Fira Sans', sans-serif;
	background-color: #0b0e11;
}
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-track {
	background: black;
}
body::-webkit-scrollbar-thumb {
	background: #454545;
	border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
	background: grey;
}
.page-title {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: normal;
}
.settings-page {
	width: 100%;
	min-height: 90vh;
}
.settings-page .settings-container {
	width: 100%;
	max-width: 850px;
	margin: auto;
	padding: 20px;
	padding-top: 40px;
}
.settings-page .settings-container .settings-title {
	color: #454545;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
}
.settings-page .settings-container .settings-section {
	width: 100%;
	border-top: 2px solid #454545;
	padding-top: 10px;
	margin-bottom: 20px;
}
.settings-page .settings-container .settings-section .my-form {
	max-width: 400px;
	width: 100%;
	margin: 30px auto;
}
.settings-page .settings-container .settings-section .my-form .form-submit.right {
	justify-content: flex-end;
}
.settings-page .settings-container .settings-section .my-form .form-submit {
	display: flex;
}
.settings-page .settings-container .settings-section .my-form .form-submit .btn {
	width: 50%;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group .form-control {
	margin-bottom: 0;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group .btn {
	height: 38px;
	margin: 0 10px;
	background-color: #e59500;
	transition: all 0.5s;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group .btn:hover {
	color: #e59500;
	background-color: #e5dada;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group i {
	cursor: pointer;
	color: #454545;
	transition: all 0.5s;
}
.settings-page .settings-container .settings-section .my-form .form-group.editable .input-group i:hover {
	color: #e59500;
}
.settings-page .settings-container .settings-section .non-active-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.settings-page .settings-container .settings-section .non-active-form p {
	padding: 7px 15px;
	margin-bottom: 0;
	font-size: 1rem;
	cursor: default;
}
.settings-page .settings-container .settings-section .non-active-form i {
	cursor: pointer;
	color: #454545;
	transition: all 0.5s;
	margin-right: 10px;
}
.settings-page .settings-container .settings-section .non-active-form i:hover {
	color: #e59500;
	transform: scale(1.1);
}
.img-upload-container {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.img-upload-container label {
	margin-bottom: 20px;
	position: relative;
	border-radius: 0.25rem;
	height: 80px;
	min-width: 80px;
	cursor: pointer;
	overflow: hidden;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	background-size: contain;
}
.img-upload-container h4 {
	text-align: left;
	font-size: 16px;
	color: grey;
	cursor: pointer;
	transition: all 0.5s;
}
.img-upload-container h4:hover {
	color: white;
}
.img-upload-container .img-preview-container {
	position: absolute;
	border-radius: 0.25rem;
	overflow: hidden;
}
.img-upload-container .img-preview {
	background: center center no-repeat;
	background-size: cover;
	height: 80px;
	width: 80px;
	border-radius: 0.25rem;
	cursor: pointer;
}
.img-upload-container .img-upload {
	margin-bottom: 0;
}
.img-upload-container input {
	display: none;
}
.img-upload-container .alert {
	margin-top: 10px;
	position: absolute;
	bottom: 0px;
	background-color: transparent;
	border: 0;
	color: #e59500;
}
.my-form {
	visibility: visible;
}
.my-form .form-group .input-group {
	border-radius: 0.25rem;
	overflow: hidden;
}
.my-form .form-group .input-group input.form-control {
	border: none;
	padding: 10px 15px;
	background-color: #2e2e2e;
	color: #e5dada;
	font-family: 'Fira Sans', sans-serif;
}
.my-form .form-group .alert-input {
	color: #e59500;
	font-weight: 100;
	font-size: 13px;
}
.my-form .form-submit {
	width: 100%;
}
.my-form .form-submit .btn {
	width: 100%;
	border-radius: 0.25rem;
	background-color: grey;
	color: #e5dada;
	cursor: default;
}
.my-form .form-submit .btn:disabled {
	opacity: 0.75;
}
.my-form .form-submit .btn:not(:disabled):not(.disabled) {
	background-color: #e59500;
}
